
@font-face{
  font-family: "Pmarker";
  src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: 'play';
  src: url(../fonts/LL_RECOR.TTF);
}
@font-face {
  font-family: 'SplineSans-Medium';
  src: url(../fonts/Spline_Sans/static/SplineSans-Medium.ttf);
}
@font-face {
  font-family: 'BeVietnamPro-Bold';
  src: url(../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}
@font-face {
  font-family: 'BeVietnamPro-Light';
  src: url(../fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #222;
}



body{
  background: url(../img/bg_wallpaper.jpg) ;
}

h1 {
  font-family: 'pmarker', serif;
  
  line-height: 65%;
  color: #efefef;
  text-shadow: 0 0 8px #000;
  top:0px;
  position:fixed;
 
  padding: 1rem 0 1.5rem 2rem;
  z-index: 10;
  transition: all .5s linear;
}
h1 a{
  color: #fff;
}

h2{
  font-family: 'BeVietnamPro-Bold';
  font-size: 2.5rem;
  color: #222;
  text-align: center;
  padding: 1rem 0.5rem;
}
h2:nth-of-type(2){
  padding-top: 6%;
}
h3{
  font-family: 'BeVietnamPro-Light';
  font-size: 2rem;
  color: #333;
  text-align: center;
  padding: 0 20% 1.5rem 20%;
  margin-bottom: 0.5rem;
}

header img{
  width: 100%;
  margin: 0;
}

NAV {
  background-color: #010101;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #fff; 
  text-align: right;
  position: sticky;
  top: 0px;
  display: block;
  color: #efefef;
  font-family: 'SplineSans-Medium';
  font-size: 1rem;
}

NAV UL {
  margin: -6px auto 0 auto;
  padding-top: 30px;
  width: 80%;
}

 NAV LI {
  display: inline;
  list-style-type: none;
  padding-right: 20px;     
 
}

NAV LI A { 
    color: #efefef; 
    text-decoration: none;
    margin: 0;
}

NAV LI A::before{
font-family: "play";
font-size: 1.5rem; 
content: "C";
opacity: 0;   
padding-right: 4px;
padding-top:2px;         
}

NAV LI A:hover { 
  transition: all .5s linear;
  color: #fff;
  text-shadow: 0px 0px 4px yellowgreen;
}
NAV LI A:hover::before{
font-family: "play";
font-size: 1.5rem; 
content: "C";
color: #fff;    
opacity: 1;        
text-shadow: 0px 0px 4px yellowgreen;
padding-right: 4px;
padding-top:2px;   
}

.sprunganker {
  visibility: hidden;
  height: 0px;
  position: absolute;
  margin: -120px;}

section {
  background: #efefef ;
  width: 85%;
  margin: 10% auto;
  border: 2px solid #666;
  border-radius: 12px;
  padding: 3% 0 2rem 0;
}

section p {
  font-family: 'BeVietnamPro-Light';
  font-size: 1em;
  color: #222;
  padding: 1rem 1rem;
}

section p a:hover{
  text-decoration: underline;
}


.brandneu, .empfehlungen, .empfehlungenklein{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.angebot{
  display: inline;
  text-align: center;
  margin: 0 auto;
}

.angebot img{
  /* width: 340px; */
  width: 30%;
  padding: 1rem;
}

.empfehlungenklein .angebot img{
  /* width: 340px; */
  width: 10%;
  padding: 1rem;
}


.angebot img:hover {
  box-shadow: 0 0 6px #999;
  background: #eee;
}

section h3:nth-of-type(2){
  padding-top: 8%;
}

/* Footer */

footer{
  background: #efefef ;
  width: 100%;
  border-top: 2px solid #666;
  border-radius: 10px 10px 0 0;
  margin-top: 10%;
  padding: 2% 0 1rem 0;
  font-family: 'SplineSans-Medium';
  font-size: 0.8rem;
}

.footer{
  font-size: 1rem;
  color: #222;
  background: #efefef ;
  text-align: center;
}

.footeraddress, .footeropen, .footermenu{
  background: #efefef ;
  display: inline-block;
  vertical-align: top;
  padding: 0 3rem 1rem 3rem;
}
.footeropen {
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

footer H4{
  font-size: 1rem;
  color: #222;
}

footer ul{
  text-align: left;
  list-style: none;
}

footer a{
  text-decoration: none;
  color: #222;
}
footer a:hover{
  text-decoration: underline;
}

