
@font-face{
  font-family: "Pmarker";
  src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: 'play';
  src: url(../fonts/LL_RECOR.TTF);
}
@font-face {
  font-family: 'SplineSans-Medium';
  src: url(../fonts/Spline_Sans/static/SplineSans-Medium.ttf);
}
@font-face {
  font-family: 'BeVietnamPro-Bold';
  src: url(../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}
@font-face {
  font-family: 'BeVietnamPro-Light';
  src: url(../fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(../img/bg_wallpaper.jpg) ;
}

h1 {
  font-family: 'pmarker', serif;
  line-height: 65%;
  color: #fff;
  text-shadow: 0 0 8px #000;
  top:0px;
  position:fixed;
  width: 100%;
  padding: 0.5rem 0 0.5rem 2rem;
  z-index: 10;
  transition: all .5s linear;
}
h2{
  font-family: 'BeVietnamPro-Bold';
  font-size: 2.5rem;
  color: #222;
  text-align: center;
  padding: 1 rem 0.5rem;
}
h3{
  font-family: 'BeVietnamPro-Light';
  font-size: 2rem;
  color: #222;
  text-align: center;
  padding: 0 20% 1.5rem 20%;
  margin-bottom: 0.5rem;
}

header img{
  width: 100%;
  margin: 0;
}

NAV {
  background-color: #000;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #fff; 
  text-align: right;
  position: sticky;
  top: 0px;
  display: block;
  color: #fff;
  font-family: 'SplineSans-Medium';
  font-size: 1rem;
}

NAV UL {
  margin: -6px auto 0 auto;
  padding-top: 30px;
  width: 80%;
}

 NAV LI {
  display: inline;
  list-style-type: none;
  padding-right: 20px;     
 
}

NAV LI A { 
    color: #fff; 
    text-decoration: none;
    margin: 0;
    
}

NAV LI A::before{
font-family: "play";
font-size: 1.5rem; 
content: "C";
opacity: 0;   
padding-right: 4px;
padding-top:2px;         
}

NAV LI A:hover { 
  transition: all .5s linear;
  color: #fff;
  text-shadow: 0px 0px 4px yellowgreen;
}
NAV LI A:hover::before{
font-family: "play";
font-size: 1.5rem; 
content: "C";
color: #fff;    
opacity: 1;        
text-shadow: 0px 0px 4px yellowgreen;
padding-right: 4px;
padding-top:2px;   
}

section {
  background: #efefef ;
  width: 85%;
  margin: 2rem auto;
  border: 2px solid #666;
  border-radius: 12px;
  padding: 2rem 0 2rem 0;
}

.angebot-reihe{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.angebot{
  display: inline;
  text-align: center;
  margin: 0 auto;
}


.angebot img{
width: 30%;
padding: 1rem;
}

.angebot img:hover {
    box-shadow: 0 0 6px #999;
    background: #fff;
}



footer{
  background: #fff ;
  opacity: 0.9;
  width: 100%;
  border-top: 2px solid #666;
  margin-top: 2rem;
}
footer div{
font-size: 6rem;
color: aqua;
}